* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  list-style: none;
}

main {
  width: 100vw;
  height: 100vh;
  background: rgb(12, 11, 11);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarLink {
  color: aliceblue;
}

.slider {
  position: relative;
  /* border: 2px solid blue; */
  /* para posicionar todas las <li> en cualquier lugar, con position absolute, su elemento padre tiene que ser Relative.
  No se le da width ni height para que este no ocupe lugar.*/
}

.slider li {
  width: 500px;
  height: 300px;
  position: absolute;
  top: -225px;
  left: 50px;
  border-radius: 20px;
  opacity: 0;

  /* con opacity 0 se ocultan todas las imagenes y por defecto se muestra la primera */
}

/* Seudoclase Target --> utilizado para aplicar estilos específicos al elemento que es el objetivo en ese momento.
*/

.slider li:target {
  opacity: 1;

  /* Al poner opacity 1 al target, al hacer click en cada link nos muestra la imagen correspondiente ya que tendran opacitiy 1 */
  animation: animacion 2s ease alternate;
}

.navBar {
  position: relative;
  top: 150px;
  width: 600px;

  /* Este se encuentra debajo de la <ul class Slider> - con lo cual al darle anchura se acomoda todo al centro */
  background: gray;
  border-radius: 10px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

#slide1 {
  background: url(img/slide1.jpg) no-repeat center/cover;
}
#slide2 {
  background: url(img/slide2.jpg) no-repeat center/cover;
}
#slide3 {
  background: url(img/slide3.jpg) no-repeat center/cover;
}
#slide4 {
  background: url(img/slide4.jpg) no-repeat center/cover;
}
#slide5 {
  background: url(img/slide5.jpg) no-repeat center/cover;
}

@keyframes animacion {
  0% {
    box-shadow: 0px 0px 25px 5px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0px 0px 25px 5px rgba(221, 194, 194, 0.75);
  }
  100% {
    box-shadow: 0px 0px 25px 5px rgba(255, 255, 255, 0);
  }
}
